.env
*.env
# Ignore all .env files
!/.env.example

# Python build artifacts and cache
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/

# Development tool cache
.ruff_cache/

# Virtual environments
venv/
.venv/
env/
.env/

# Database files
*.db
*.sqlite3

# Logs and temporary data
src/ocr_bot/logs/
*.log
src/ocr_bot/temp_images/
src/ocr_bot/audio/
src/ocr_bot/data/

# IDE and OS specific files
.idea/
.vscode/
.DS_Store # для macOS
*.swp # для Vim
